@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: #fbfbfb;
}

nav{
  background-color: #fff;
  box-shadow: 3px 3px 5px #11111f;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
  padding-bottom: 5px;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
nav li{
  height: 50px;

}

.hideOnMobile a i{
font-size: 32px;
color: #11111f;
}

nav a{
  height: 100%;
  padding: 5px 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #11111f;
  font-weight: bolder;
  transition: 0.3s;
}
nav a:hover{
  transform: scale(1.01);
}
nav li:first-child{
  margin-right: auto;
}
.site-title{
  font-size: 20px;
  transition: 0.3s;
}
.site-title:hover{
  transform: scale(1.01);
}
#profile-icon:hover{
  background-color: white;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.74);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px #11111f;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.hideOnDesktop{
cursor: pointer;
}

.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}

@media(max-width: 900px){
  .hideOnMobile{
      display: none;
  }
}
@media(min-width: 900px){
  .hideOnDesktop{
      display: none;
  }
}
@media(max-width:1000px){
  .first-sidebar{
    font-size: 14px;
  }
  .site-title{
    font-size: 20px;
  }
}

.mainSection {
    height: 100vh;
    background: url('../imagensRSocial/overlay.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 35px;
    max-height: 650px;
    margin-bottom: 40px;
}

.main{
    position: relative;
    z-index: 1; 
    margin: 0;
    border: 0;
    padding: 0;
    padding: 50px;
    margin-top: 8%;
    border-radius: 10px;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    color: #11111f;
    
}

.main2{
    position: relative;
    z-index: 1; 
    margin: 0;
    border: 0;
    padding: 0;
    padding: 50px;
    margin-top: 7%;
    border-radius: 10px;
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: column;
    color: #11111f;
}

.main3{
    position: relative;
    z-index: 1; 
    margin: 0;
    border: 0;
    padding: 0;
    padding: 50px;
    margin-top: 8%;
    border-radius: 10px;
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: column;
    color: #11111f;
}

main {
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    margin: 5% 0;
    text-align: center;
    font-size: 30px;
}

.divsMain h3 {
    border-left: 5px solid #47d7ac;
    padding-left: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.divsMain p {
    font-size: 20px;
    padding-left: 14px;
}

.divsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
}

.divsMain {
    width: 300px;
    margin-bottom: 8%;
}

.divsMain img {
    margin-right: 10px;
    height: 40px;
}

/*--------------- Footer --------------*/
footer {
    background-color: #47d7ac;
    border-top: 1px solid #e4e4e4;
    padding: 20px 0;
  }
  
  .footer-container {
    margin-top: 10px;
    padding: 0 15px;
  }
  
  .footer-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-col {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h5 {
    color: #11111f;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  p, ul {
    padding: 0;
    color: #11111f;
  }
  
  ul {
    list-style-type: none;
  }
  
  ul li {
    margin-bottom: 8px;
  }
  
  ul li a {
    text-decoration: none;
    color: #11111f;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #11111f;
  }
  
  .footer-bottom p {
    color: #47d7ac;
    font-size: 14px;
  }
  
  /* Regras de responsividade */
  @media (max-width: 768px) {
    .footer-row {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-col {
      min-width: 100%;
      text-align: center;
    }
  
    ul {
      padding-left: 0;
    }
  
    h5 {
      font-size: 18px;
    }
  
    .footer-bottom p {
      font-size: 13px;
    }
  }
  
  @media (max-width: 480px) {
    footer {
      padding: 10px 0;
    }
  
    h5 {
      font-size: 16px;
    }
  
    .footer-bottom p {
      font-size: 12px;
    }
  }
  .btn{
    transition: transform 0.5s ease;
  }
  .btn:hover{
    background-color: #3bb490;
    color: white;
    transform: translateY(-3px);
  }