@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background-color: #ddd;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap; /* Permite reorganização em telas menores */
    
}

.pontosdecoleta{
     font-size: larger;
    color: #47d7ac;
    font-size: 35px;
}

.locais {
    font-size: 15px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}
.locais:hover{
    
    color: #47d7ac;
}

.infoBox {
    background-color: white;
    width: 20%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    padding: 20px;
    padding-top: 5px;
}

.infoMapa {
    
    width: 70%;
    height: auto;
    border: none;
}

.infoMapa iframe {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    border-color: #47d7ac;
    margin-bottom: 10px;
}

.info {
    padding: 20px;
}

/*************** NAV BAR ************/
nav{
    background-color: #fff;
    box-shadow: 3px 3px 5px #11111f;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
    padding-bottom: 5px;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
nav li{
    height: 50px;

}

.hideOnMobile a i{
  font-size: 32px;
  color: #11111f;
}

nav a{
    height: 100%;
    padding: 5px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #11111f;
    font-weight: bolder;
    transition: 0.3s;
}
nav a:hover{
    transform: scale(1.01);
}
nav li:first-child{
    margin-right: auto;
}
.site-title{
    font-size: 20px;
    transition: 0.3s;
}
.site-title:hover{
    transform: scale(1.01);
}
#profile-icon:hover{
    background-color: white;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.74);
    box-shadow: -10px 0 10px #11111f;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.hideOnDesktop{
  cursor: pointer;
}

.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}

@media(max-width: 900px){
    .hideOnMobile{
        display: none;
    }
}
@media(min-width: 900px){
    .hideOnDesktop{
        display: none;
    }
}
@media(max-width:1000px){
    .first-sidebar{
      font-size: 14px;
    }
    .site-title{
      font-size: 20px;
    }
}

/*************** estilo carrossel ************/
.containerCarrossel {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.carousel {
    flex: 2;
    position: relative;
    overflow: hidden;
}

.carousel-item {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.carousel-item.active {
    display: flex;
}

.carousel-item img {
    width: 100%;
    max-width: 400px; 
    height: auto;
    object-fit: cover;
}

.carousel-info {
    margin-top: 10px;
    text-align: left;
}

.prev, .next {
    position: absolute;
    top: 50%;
    height: 100%;
    width: 30%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #11111f; 
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%; 
    z-index: 5; 
    font-size: 30px;
}

.prev {
    color: transparent;
    left: 10px;
}

.next {
    color: transparent;
    right: 10px;
}

/*************** Botões Gerais ************/
.btnInfo {
    background-color: #47d7ac;
    display: flex;
    padding: .75rem 1.25rem;
    border-radius: 2%;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 10px;
}

.btnInfo:hover {
    background-color: #3bb490;
}

/*************** Formulário ************/
.inputInfo {
    border-radius: 2%; 
    background-color: #ddd;
    border: none;
    font-size: 18px;
    font-weight: 400;
    padding: .75rem 1.25rem;
    height: 35px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.inputInfo:focus {
    outline: none;
    background-color: #aaaaaa;
}

.info h3,h2{
    font-weight: 500;
}

/*************** Footer ************/
footer {
    background-color: #47d7ac;
    color: #11111f;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1 1 30%;
    margin: 10px 20px;
  }
  
  .footer-section h2,
  .footer-section h3 {
    color: #11111f; 
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 14px;
    line-height: 1.5;
    color: #11111f; 
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 8px 0;
  }
  
  .footer-section ul li a {
    color: #11111f; 
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #11111f;
  }
  
  /* Social Links */
  .social-links a {
    margin-right: 20px;
    display: inline-block;
  }
  
  .footer-section .social-links a i{
    color: #11111f;
    font-size: 24Px;
  }
  
  /* Footer Bottom */
  .footer-bottom {
    text-align: center;
    border-top: 1px solid #11111f; 
    margin-top: 20px;
    font-size: 14px;
    color: #11111f; 
  }
  
  .footer-bottom p{
    margin-top: 1%;
  }

/*************** Media Queries ************/
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .infoBox, .infoMapa {
        width: 90%;
        margin-bottom: 20px;
    }

    .infoMapa iframe {
        height: 300px;
    }

    .containerCarrossel {
        width: 100%;
    }

    .carousel-item img {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 20px;
    }

    .infoBox p,a{
        margin-bottom: 15px;
    }

    .logo {
        font-size: 24px;
    }

    .navbar a {
        font-size: 14px;
        margin-left: 10px;
    }

    .infoBox {
        font-size: 16px;
        height: auto;
    }

    .containerCarrossel {
        flex-direction: column;
    }

    .infoMapa iframe {
        height: 250px;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .navbar a {
        margin: 5px 0;
        font-size: 12px;
    }

    .infoBox {
        font-size: 14px;
    }

    .infoMapa {
        height: auto;
    }

    .carousel-item img {
        max-height: 200px;
    }

    .prev, .next {
        padding: 5px;
    }
}