* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #47d7ac, #3ca4c8);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    color: #fff;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    color: #333;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-box label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    outline: none;
}

.input-box input::placeholder {
    color: #aaa;
}

.input-box input:focus {
    border-color: #007bff;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bolder;
    color: #fff;
    background-color: #47d7ac;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    opacity: 0.8;
}


.forgot-password {
    text-align: right;
    margin-bottom: 15px;
}

.forgot-link {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}

.register-link {
    text-align: center;
    font-size: 14px;
    color: #555;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
