@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

body {
    font-family: 'Happy Monkey', Arial, sans-serif;
    margin: 0;
    width: 100%;
    color: #121212;
    background-color: #fbfbfb;
}

.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#barra{
    max-width: 150px;
}
.nameWithLogo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.headerS {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 18px;
}

.infoSocial {
    width: 100%;
    margin-bottom: 32px;
    margin-top: 16px;
    margin-left: 20px;
}

.imgSocial {
    width: 45px;
    min-height: 45px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.4s;
    margin-bottom: 8px;
}

.imgSocial:hover {
    transform: scale(1.5);
}

.asideRight,
.asideLeft {
    position: fixed;
    top: 0;
    height: 100%;
}

.asideRight {
    right: 0;
    width: 25%;
    margin-right: 20px;
}

.asideLeft {
    left: 0;
    width: 15%;
    margin-left: 20px;
}

button {
    background: transparent;
    border: 0;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    padding: 0;
    height: 60px;
    text-align: left;
}

.asideLeft button > span {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    height: 48px;
    padding: 0 16px 0 12px;
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
}

.linksNav {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    background-color: white;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    margin-left: 18px;
    margin-bottom: 17px;
}

.mainS {
    background-color: #8ea855e3;
    margin-left: 10%;
    margin-right: 20%;
    padding: 20px;
}

.imgPostUsuario {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 30px;
}

.postUser {
    width: 93%;
    max-width: 600px;
    height: 650px;
    object-fit: cover;
}

.actionBtnPost {
    display: inline-block;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    gap: 8px;
    margin-right: 20px;
}

.imgActionBTN {
    width: 30px;
    transition: 0.5s;
}

.imgActionBTN:hover {
    border-radius: 5px;
    transform: scale(1.1);
}

.legenda {
    margin-bottom: 100px;
    font-weight: 400;
    font-size: 20px;
}

.nameAndHour {
    display: flex;
    align-items: center;
    gap: 10px;
}

li {
    list-style: none;
}

.footer {
    padding: 20px 0;
    background-color: #fafafa;
    text-align: center;
    font-size: 12px;
    color: #999;
    border-top: 1px solid #dbdbdb;
}

.footer-links {
    margin-bottom: 1px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    display: inline;
    margin: 0 10px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #333;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-links ul li a:visited {
    color: #8ea855e3;
}

.footer-copyright {
    margin-top: 10px;
}

h3 {
    margin-top: 50px;
    font-weight: 500;
    font-size: 18px;
    margin-left: 40px;
}

.linkSugest {
    display: flex;
    align-items: center;
}

.imgSujst {
    width: 45px;
    min-height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}

.ulMain {
    margin-bottom: 15px;
    margin-top: 0;
}

.susjestaousuarios {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    justify-content: space-between;
    border-bottom: 1px solid #dbdbdb;
}

.seguir {
    font-weight: 600;
    color: #8ea855e3;
    margin-left: 80px;
}

a {
    text-decoration: none;
    color: #333;
}

.gifpolicia {
    margin-top: 30%;
    width: 180px;
    height: 180px;
}

div.newPost div.infoUser {
    display: flex;
    align-items: flex-start;
}   


div.newPost {
    width: 79%;
    height: auto;
    background-color: #faf6f6;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 70px;
    margin-top: 20px;
    padding: 40px;
}


div.newPost div.infoUser div.imgUser {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

div.newPost div.infoUser strong {
    font-size: 16px;
    color: #8ea855e3;
    margin-left: 10px;
}

div.newPost form.formPost {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.newPost form.formPost textarea {
    background-color: #fbfbfb;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    resize: none;
    border: 0;
    font-family: 'Happy Monkey', Arial, sans-serif;
    font-weight: bold;
    color: #727272;
    height: 70px;
}

div.newPost form.formPost div.iconsAndButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.newPost form.formPost div.iconsAndButton div.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    transition: 0.6s;
}

.btnFileForm:hover {
    transform: scale(1.2);
}

div.newPost form.formPost div.iconsAndButton div.icons button {
    outline: none;
    background-color: #8ea855e3;
    border: 0;
    margin-right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 40px;
    height: 35px;
    transition: 0.6s;
}

button.btnSubmit:hover {
    transform: scale(1.1);
}

div.newPost form.formPost div.iconsAndButton button.btnSubmit {
    background-color: #8ea855e3;
    width: 120px;
    height: 35px;
    text-align: center;
    color: #333;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    transition: 0.2s;
}

div.newPost form.formPost div.iconsAndButton button.btnSubmit:hover {
    background-color: #8ea855e3;
}

.imgUser {
    width: 45px;
    min-height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

/* Responsividade */
@media (max-width: 1200px) {
    .asideRight {
        width: 30%;
    }
    .asideLeft {
        width: 20%;
    }
}

@media (max-width: 992px) {
    .asideRight, .asideLeft {
        width: 35%;
    }
    .mainS {
        margin-right: 300px;
        margin-left: 200px;
    }
}

@media (max-width: 768px) {
    .asideRight, .asideLeft {
        display: none;
    }
}












.publicacao, .secao-comentarios {
    font-family: Arial, Helvetica, sans-serif;
    border-width: 1px;
    border-radius: 8px;
    margin-top: -80px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 610px;
    padding: 15px;
}

.input-comentario {
    width: 578px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #dcdcdc;
}

.comentario {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.conteudo-comentario {
    background-color: #dcdcdc;
    border-radius: 8px;
    padding: 10px;
    margin-left: 10px;
    flex: 1;
}

.nome-comentario {
    font-weight: bold;
    display: block;
}

.foto-perfil{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}









    
