@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 100vh;
}

a{
    text-decoration: none;
}


/*---- HEADER ----*/
header{
    background-color: #a0a0a0;
    width: 90px;
    height: 100%;
    position: fixed;
    padding: 40px 0 40px 1%;
    box-shadow: 4px 0 0 #47d7ac;
    overflow: hidden;
    transition: 0.7s;
}


/*---- NOME E LOGO ----*/
.name-logo {
    margin-bottom: 35px;
    padding: 5px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.logo-header {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 18px;
}

.img-strong:hover{
    transform: scale(1.09);
}

.img-strong{
    padding: 10px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
    overflow: hidden;
}

.img-strong img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); 
}


/*---- MENU NAVEGAÇÃO ----*/

ul{
    height: 100%;
    list-style-type: none;

}

.item-menu{
    margin-left: 8%;
    transition: .7s;
}

.item-menu:hover{
    transform: scale(1.12);
}

.item-menu a{
    color: #ffffff;
    font-size: 24px;
    padding: 20px 4%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 40px;
}

.txt-link{
    margin-left: 30px;
}

.icon{
    font-size: 34px;
}


#logo-anim-lat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; 
    height: 180px;
}

#logo-anim-lat img {
    width: 300px; 
    height: 300px;
    margin-left: 160px;
    margin-bottom: 200px;
    object-fit: cover;
}


/*---- CONTEUDO PRINCIPAL ----*/


.mainS {
    width: 100%;
    max-width: 45%;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 360px;
}

/*---- AREA DE CRIAÇÃO ----*/
.newPost {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgUser {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.formPost {
    width: 100%;
    display: flex;
    flex-direction: column;
}

textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.iconsAndButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.btnFileForm, .btnSubmit {
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btnSubmit:hover{
    transform: scale(1.01);
    background: linear-gradient(to top left, #47d7ac, #3ca4c8);
}

.btnFileForm{
    font-size: 30px;
}

.btnFileForm:hover{
    transform: scale(1.01);
}

.btnSubmit {
    background: linear-gradient(to bottom right, #47d7ac, #3ca4c8);
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

/*---- POSTS ----*/
.posts {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.post {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoUserPost {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.nameAndHour {
    display: flex;
    align-items: center;
    width: 100%;
}

.nameAndHour i {
    font-size: 36px;
    margin-right: 10px;
}

.nameAndHour strong {
    margin-right: auto;
    font-weight: bold;
}

.nameAndHour p {
    color: #8e8e8e;
    font-size: 12px;
}

.postUser {
    width: 100%;
    border-radius: 8px;
    margin: 10px 0;
}

.btnIntercao {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
}

.actionBtnPost {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}


.legenda {
    font-size: 14px;
    color: #333;
    padding-top: 5px;
}


/* ---- ASSIDE DIREITA ----*/

.asideRight {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px; 
    height: 100vh;
    padding: 20px;
    background-color: #a0a0a0;
    box-shadow: 0 0 14px #11111f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}


/*---- TÍTULO ----*/
.asideRight h3 {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}


.ulMain {
    list-style: none;
    padding: 0;
}

.liSugest {
    margin-bottom: 20px;
}

.susjestaousuarios {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.linkSugest {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
}

.imgSujst {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.seguir {
    background: linear-gradient(to bottom right, #47d7ac, #3ca4c8);
    color: #fff;
    border: none;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.seguir:hover {
    background: linear-gradient(to top left, #47d7ac, #3ca4c8);
    transform: scale(1.01);
}


.carousel-{
    width: 400px;
    height: 400px;
}




/*---- FOOTER ----*/
.footer {
    text-align: center;
    font-size: 12px;
    color: #fff;
    padding: 20px;
    background-color: #a0a0a0;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
}

.footer-links ul li {
    margin: 5px 10px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.footer-links ul li a:hover {
    text-decoration: underline;
    color: #fff; 
}

.footer-copyright {
    margin-top: 15px;
    color: #fff;
    font-size: 12px;
}


/*---- RESPONSIVIDADE ----*/
@media (max-width: 768px) {

    .logo-header {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-left: 18px;
    }

    .item-menu{
        margin-left: 10%;
    }

    .name-logo{
        margin-left: 0;
    }

    .btnSubmit {
        padding: 5px 10px;
    }

    .postUser, .imgUser, .imgPostUsuario {
        max-width: 100%;
    }

    .asideRight{
        display: none;
    }

}

@media (max-width: 900px){

    .item-menu{
        margin-left: 15px;
    }

    .mainS {
        max-width: 80%;
        flex-direction: column;
        padding: 10px;
        margin-left: 15%;
    }

    .asideRight{
        display: none;
    }

}


@media (max-width: 1250px){

    .item-menu{
        margin-left: 8%;
    }

    .mainS {
        max-width: 60%;
        flex-direction: column;
        padding: 10px;
        margin-left: 9%;
    }
    

}


@media (max-width: 1000px){
    

    .mainS {
        max-width: 80%;
        flex-direction: column;
        padding: 10px;
        margin-left: 17%;
    }

    .asideRight{
        display: none;
    }

}

@media (max-width: 768px){
    .mainS {
        max-width: 80%;
        flex-direction: column;
        padding: 10px;
        margin-left: 20%;
    }

    .item-menu{
        margin-left: 20%;
    }
}