@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: #fbfbfb;
}

nav{
  background-color: #fff;
  box-shadow: 3px 3px 5px #11111f;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
  padding-bottom: 5px;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
nav li{
  height: 50px;

}

.hideOnMobile a i{
font-size: 32px;
color: #11111f;
}

nav a{
  height: 100%;
  padding: 5px 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #11111f;
  font-weight: bolder;
  transition: 0.3s;
}
nav a:hover{
  transform: scale(1.03);
}
nav li:first-child{
  margin-right: auto;
}
.site-title{
  font-size: 20px;
  transition: 0.3s;
}
.site-title:hover{
  transform: scale(1.03);
}
#profile-icon:hover{
  background-color: white;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.74);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px #11111f;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.hideOnDesktop{
cursor: pointer;
}

.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}

@media(max-width: 900px){
  .hideOnMobile{
      display: none;
  }
}
@media(min-width: 900px){
  .hideOnDesktop{
      display: none;
  }
}
@media(max-width:1000px){
  .first-sidebar{
    font-size: 14px;
  }
  .site-title{
    font-size: 20px;
  }
}

.mainSection {
    height: 100vh;
    background: url('../imagensRSocial/overlay.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 35px;
    max-height: 650px;
    margin-bottom: 40px;
}

.main{
    position: relative;
    z-index: 1; 
    margin: 0;
    border: 0;
    padding: 0;
    padding: 50px;
    margin-top: 8%;
    border-radius: 10px;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    color: #11111f;
    
}

.main2{
  position: relative;
  z-index: 1; 
  margin: 0;
  border: 0;
  padding: 0;
  padding: 50px;
  margin-top: 8%;
  border-radius: 10px;
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  color: #11111f;
}

.main3{
    position: relative;
    z-index: 1; 
    margin: 0;
    border: 0;
    padding: 0;
    padding: 50px;
    margin-top: 8%;
    border-radius: 10px;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    color: #11111f;
}

main {
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 30px;
    padding: 0px 50px 0px 50px;
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    margin: 5% 0;
    text-align: center;
    font-size: 30px;
}

.divsMain h3 {
    border-left: 5px solid #47d7ac;
    padding-left: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.divsMain p {
    font-size: 20px;
    padding-left: 14px;
}

.divsContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 25px;
}

.divsMain {
  margin: 10px;
}

.divsMain img {
    margin-right: 10px;
    height: 40px;
}

/*--------------- Footer --------------*/
footer {
  background-color: #47d7ac;
  color: #11111f;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 30%;
  margin: 10px 20px;
}

.footer-section h2,
.footer-section h3 {
  color: #11111f; 
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.5;
  color: #11111f; 
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 8px 0;
}

.footer-section ul li a {
  color: #11111f; 
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #11111f;
}

/* Social Links */
.social-links a {
  margin-right: 20px;
  display: inline-block;
}

.footer-section .social-links a i{
  color: #11111f;
  font-size: 24Px;
}

/* Footer Bottom */
.footer-bottom {
  text-align: center;
  border-top: 1px solid #11111f; 
  margin-top: 20px;
  font-size: 14px;
  color: #11111f; 
}

.footer-bottom p{
  margin-top: 1%;
}

